:root {
    --background: rgb(224, 234, 247);
    --header-background: #b4cded;
    --text-color: rgb(7, 5, 68);
    --label-color: rgb(75, 102, 98);
    --placeholder-color: rgb(136, 136, 153);
    --offset-color: rgb(217, 236, 217);
    --action-color: rgb(77, 132, 252);
    --background-image: url('/assets/Pawprints-background.jpeg');

    --primary-font: 'Rubik', Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
        'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    height: 100vh;
    font-family: var(--primary-font);
    color: var(--text-color);
    background-image: url('/assets/pawprintbackground2.webp');
    display: grid;
    grid-template-rows: auto 1fr;
}

.page-header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--primary-font);
    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(93, 89, 89, 0.24);
}

.page-header .logo {
    height: 100%;
}

.page-header .title {
    font-size: 1.3em;
    font-weight: 800;
    flex-grow: 2;
}

.page-header nav {
    display: flex;
    gap: 10px;
}

.page-header a {
    color: #234058;
    border: solid rgb(58, 58, 58) 2px;
    color: #f0f4ef;
    background: rgb(7, 5, 68);
    border-radius: 15px;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    background: #0d1821;
    height: 100%;
    border-radius: 15px;
}

.avatar {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: 1px solid var(--placeholder-color);
    border-radius: 100%;
}

.error {
    min-height: 1em;
    color: red;
}

.hidden {
    display: none;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
}

.profile-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #344966;
    border-radius: 25px;
    padding: 15px;
    margin: 10px;
    box-shadow: 5px 5px 5px grey;
}

.profile-detail h2 {
    font-size: 36px;
}

.profile-detail {
    background-color: #344966;
    font-size: 20px;
    color: #f0f4ef;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
    align-items: center;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 5px 5px 5px grey;
}
.profile-likes {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.profile-likes button {
    border-radius: 15px;
    background: #b4cded;
}
.profile-link {
    margin-left: 5px;
    margin-right: 10px;
    color: #f0f4ef;
}

.likes {
    color: beige;
}

.profile-page {
    display: flex;
    justify-content: center;
}

#profile-form {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #344966;
    max-width: fit-content;
    padding: 20px;
    gap: 20px;
    border-radius: 15px;
    align-items: center;
}

#profile-form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* #profile-form textarea {
    display: flex;
    flex-direction: column;
}

#profile-form {
    display: flex;
    flex-direction: column;
} */

.profile-editor {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.message-form {
    background-color: #b4cded;
    display: flex;
    flex-direction: column;
    color: #070544;
    height: min-content;
    max-width: fit-content;
    padding: 20px;
    gap: 20px;
    border-radius: 15px;
    align-items: center;
    font-family: var(--primary-font);
}
.message-form input {
    margin: 2px;
}

.message-form button {
    margin: 2px;
    background-color: #344966;
    color: #f0f4ef;
    border-radius: 15px;
    width: 50%;
}
